# SPDX-License-Identifier: GPL-2.0
#
# clang-format configuration file. Intended for clang-format >= 11.
#
# For more information, see:
#
#   Documentation/dev-tools/clang-format.rst
#   https://clang.llvm.org/docs/ClangFormat.html
#   https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
---
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Linux
IndentWidth: 4
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: 'vmlinux.h'
    Priority: 0
